* {
  color: #ffffff;
  font-size: 3rem;
}

/* FotterStyle.fotter */
.fotter {
  width: 100%;
  height: auto;
  background-color: #4e4e4e;
  color: #f9f9f9ba;
  padding: 1.1rem 10rem;
  border-radius: 1.5rem;
}

.flex {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.brand__logo {
  display: flex;
  gap: 2rem;
  width: 8.9%;
  height: auto;
}

.brand__logo img {
  width: 100%;
  height: auto;
}
